<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>게시글 작성문</title>
	<style>
		.layout {
			width : 500px;
			margin : 0 auto;
			margin-top : 40px;
		}
		
		.layout input {
			width : 100%;
			box-sizing : border-box
		}
		
		.layout textarea {
			width : 100%;
			margin-top : 10px;
			min-height : 300px;
		}
	</style>
</head>
<body>
	<div class="layout">
		<form action="/board/writePro" method="post" enctype="multipart/form-data">
			<input name="title" type="text">
			<textarea name="content"></textarea>
			<input type="file" name="file">
			<button type="submit" onclick="alert('작성되었습니다');">작성</button>
			<button onclick="window.history.back()">취소</button>
		</form>
		
	</div>	
</body>
</html>